:root {
  --black: #000000;
  --dark-grey: #404040;
  --white: #ffffff;
  --almost-white: #f6f6f6;
  --light-grey: #dedede;
  --misty-grey: #c2c2c2; 
  --muted-gray: #aaaaaa;
  --pale-gold: #caaa6c;
  --silver: #c4c4c4;
  --vivid-red: #ff0f12;
  --vibrant-blue: #027bff;
}

@font-face {
  font-family: 'Helvetica Neue Heavy', sans-serif;
  src: url('../font/helvetica-neue-heavy.woff2') format('woff2'),
    url('../font/helvetica-neue-heavy.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../font/roboto-medium.woff2') format('woff2'),
    url('../font/roboto-medium.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../font/roboto-bold.woff2') format('woff2'),
    url('../font/roboto-bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  max-width: 923px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.adbro-thuyenxua {
  width: 903px;
  height: 422px;
}

.adbro-thuyenxua__promo {
  position: relative;
  width: 100%;
  height: 412px;
  margin-bottom: 77px;
  background-color: var(--silver);
  overflow: hidden;
}

.adbro-thuyenxua__content {
  position: absolute;
  left: 50%;
  margin-left: -350px;
  bottom: 0;
  padding-left: 80px;
  padding-right: 72px;
  width: 700px;
  height: 95px;
}

.adbro-thuyenxua__bg {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -350px;
  width: 700px;
  height: 95px;
  background: url('../img/thuyenxua-bg.svg') no-repeat center top;
  background-size: cover;
  animation: slideInUp 0.8s ease-out 0s 1 forwards;
}

.adbro-thuyenxua__choice-btn {
  position: absolute;
  left: 80px;
  width: 226px;
  height: 37px;
  padding: 4px 10px;
  margin-top: 42px;
  border: 3px solid var(--black);
  text-transform: uppercase;
  color: var(--pale-gold);
  font-weight: 700;
  animation: zoomOut .7s .7s both, zoomIn 3s ease-out  2s infinite;
}

.adbro-thuyenxua__bottle-img {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -41px;
  width: 79px;
  height: 140px;
  animation: fadeInUp .8s ease-out .5s both;
}

.adbro-thuyenxua__try-btn {
  position: absolute;
  bottom: 15px;
  left: 27px;
  color: var(--vivid-red);
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--white);
  border: none;
  border-radius: 13px;
  padding: 4px 12px;
  font-family: inherit;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: -0.4px;
  animation: shake 4s 2s infinite;
}

.adbro-thuyenxua__logo {
  position: absolute;
  left: 59.5%;
  bottom: 6px;
  width: 56px;
  height: 56px;
  animation: zoomOut .7s .7s both, zoomIn 3s ease-out 2s infinite;
}

.adbro-thuyenxua__boat-img,
.adbro-thuyenxua__boat-img img {
  width: 116px;
  height: 85px;
}

.adbro-thuyenxua__boat-img {
  position: absolute;
  right: 102px;
  bottom: 0;
  animation: fadeInUp .5s ease-out .9s both;
}

.adbro-thuyenxua__fish-img {
  position: absolute;
  width: 54px;
  height: 43px;
}

.adbro-thuyenxua__fish-img:first-of-type {
  top: -10px;
  right: 121px;
  animation: zoomOut .7s .7s both, swim 3s cubic-bezier(0.32, 0.04, 0.15, 0.97) infinite;
}

.adbro-thuyenxua__fish-img:nth-of-type(2) {
  top: -22px;
  right: 237px;
  animation: zoomOut .7s .7s both, swim2 3s cubic-bezier(0.32, 0.04, 0.15, 0.97) infinite;
}

.adbro-thuyenxua__fish-img:nth-of-type(3) {
  top: 2px;
  left: 122px;
  animation: zoomOut .7s .7s both, swim3 3s cubic-bezier(0.32, 0.04, 0.15, 0.97) infinite;
}

.adbro-thuyenxua__fish-img:nth-of-type(4) {
  top: -10px;
  left: 218px;
  animation: zoomOut .7s .7s both, swim4 3s cubic-bezier(0.32, 0.04, 0.15, 0.97) infinite;
} 


.adbro-thuyenxua__controls {
  position: absolute;
  right: 74px;
  bottom: 50px;
  animation: rotateIn 0.8s ease-out 3.2s 1 forwards;
}

.adbro-thuyenxua__controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.adbro-thuyenxua__close {
  margin-bottom: 7px;
}

.adbro-thuyenxua__info,
.adbro-thuyenxua__close {
  animation: fadeInUp 1s ease-out .4s both;
}

.adbro-slider {
  position: relative;
  padding: 14px 7px 14px 10px;
  width: 775px;
  margin: 0 auto 30px;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  animation: moveLeft .8s 1.7s ease-in;
}

.adbro-slider__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.adbro-slider__item {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25));
  background-color: var(--white);
  border-radius: 5px;
  flex-shrink: 0;
  width: 180px;
  height: 270px;
  transition: transform 0.2s;
}

.adbro-slider__item:nth-child(4n) {
  margin-right: 0;
}

.adbro-slider__link {
  display: block;
  text-decoration: none;
}

.adbro-slider__link picture {
  display: block;
  height: 180px;
  width: 180px;
}

.adbro-slider__arrow {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
  cursor: pointer;
  z-index: 10;
}

.adbro-slider__arrow--prev::after,
.adbro-slider__arrow--next:after {
  position: absolute;
  content: '';
  width: 34px;
  height: 34px;
  background: url('../img/slider-arrow.png') no-repeat 50% 50%;
  background-size: contain;
}

.adbro-slider__arrow--next:after {
  top: 7px;
  right: 0;
  opacity: .7;
}

.adbro-slider__arrow--next {
  right: 8px;
  top: 100px;
}

.adbro-slider__arrow--prev {
  left: 15px;
  top: 100px;
}

.adbro-slider__arrow--prev::after {
  transform: rotate(180deg);
  top: 7px;
  left: 0;
}

.adbro-slider__slide-img {
  height: 180px;
  width: 180px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.adbro-slider__logo-svg {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
}

.adbro-slider__span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 164px;
  height: 43px;
  text-align: center;
  letter-spacing: -0.4px;
}

.adbro-slider__span,
.adbro-slider__btn {
  font-size: 13px;
  font-weight: 500;
  color: var(--dark-grey);
  margin: 0 auto;
}

.adbro-slider__btn {
  display: block;
  width: 167px;
  padding: 10px 44px;
  margin-bottom: 10px;
  background-color: var(--almost-white);
  border-radius: 3px;
  border: 1px solid var(--misty-grey);
  text-transform: uppercase;
}

.adbro-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.adbro-modal.is-open {
  opacity: 1;
  visibility: visible;
}

.adbro-modal__popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 27px 37px 60px;
  background-color: var(--white);
  border-radius: 4px;
  overflow-y: auto;
}

.adbro-modal__logo {
  margin-bottom: 30px;
}

.adbro-modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.adbro-modal__text p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.adbro-modal__text p + p {
  margin-top: 12px;
}

.adbro-modal__text a {
  display: inline;
  color: var(--vibrant-blue);
  text-decoration: none;
}

.adbro-modal__close::before,
.adbro-modal__close::after{
  content: '';
  position: absolute;
  top: 0;
  left: 9px;
  bottom: 0;
  width: 2px;
  background-color: var(--muted-gray);
}

.adbro-modal__close::after {
  transform: rotate(45deg);
}

.adbro-modal__close::before {
  transform: rotate(-45deg);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes shake {
  0%, 50% {
    transform: translate3d(0, 0, 0);
  }

  5%, 15%, 25%, 35%, 45% {
    transform: translate3d(-3px, 0, 0);
  }

  10%, 20%, 30%, 40% {
    transform: translate3d(3px, 0, 0);
  }
}

@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale3d(1.2, 1.1, 1.1);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes swim {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 5px);
  }
  50% {
    transform: translate(-15px, 0px);
  }
  75% {
    transform: translate(-10px, 5px);
  }
}


@keyframes swim2 {
  0%, 100% {
    transform: translate(0, 0) rotate(45deg);
  }
  25% {
    transform: translate(-10px, 5px rotate(45deg));
  }
  50% {
    transform: translate(-15px, 0px) rotate(45deg);
  }
  75% {
    transform: translate(-10px, 5px) rotate(45deg);
  }
}

@keyframes swim3 {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 5px);
  }
  50% {
    transform: translate(15px, 0px);
  }
  75% {
    transform: translate(10px, 5px);
  }
}

@keyframes swim4 {
  0%, 100% {
    transform: translate(0, 0) rotate(-43deg);
  }
  25% {
    transform: translate(10px, 5px rotate(-43deg));
  }
  50% {
    transform: translate(15px, 0px) rotate(-43deg);
  }
  75% {
    transform: translate(10px, 5px) rotate(-43deg);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}